/* SINGLE EVENTS TEMPLATE */
#single-post-events {
  margin: 70px 0 60px;
}

#single-post-events .post-header {
  min-height: 400px;
  color: #ffffff;
  background-color: #521f0c;
  background: linear-gradient(236deg, rgba(82, 31, 12, 1) 0%, rgba(169, 51, 8, 1) 49%, rgba(71, 79, 168, 1) 100%);
}

#single-post-events .post-header .orbit-thumbnail-bg {
  display: none;
  min-height: 400px;
}

#single-post-events .post-content {
  margin: 75px 0;
}

#single-post-events .post-meta {
  padding: 60px 0;
}

#single-post-events .post-excerpt {
  padding-top: 30px;
}

.related-posts .headline {
  font-size: 30px;
  margin: 0 0 30px;
  padding-top: 60px;
  border-top: 3px dotted #a93308;
}

/* ORBIT TEMPLATES */
.articles-three-grid {
  grid-row-gap: 30px;
}

.articles-three-grid .orbit-thumbnail-bg {
  min-height: 240px;
}

.articles-three-grid .post-categories {
  margin: 30px 0;
}

.articles-three-grid .post-categories a {
  color: #a93308;
}

.articles-three-grid .post-title {
  font-size: 30px;
  margin: 0 0 30px;
}

.articles-three-grid .post-title:hover {
  color: #f41124;
}

.articles-three-grid .post-excerpt * {
  display: inline;
}

.articles-three-grid .post-excerpt {
  margin-bottom: 10px;
}

.articles-three-grid .read-more {
  color: #474fa8;
  font-weight: 700;
}

/* -------------------------- MEDIA QUERIES ------------------------- */
@media(min-width: 768px){
  #single-post-events .post-header .orbit-thumbnail-bg {
    display: block;
  }
}
