blockquote {
  border: 0;
  float: right;
  padding: 45px;
  max-width: 45%;
  color: #efecdf;
  font-weight: bold;
  font-style: italic;
  position: relative;
  font-size: 1.15em;
  line-height: 1.5em;
  background: #474fa8;
  margin: 30px 0px 30px 30px;
  border-radius: 30px 30px 0px 30px;
}

blockquote::after,
blockquote::before {
  opacity: 0.5;
  width: 10%;
  font-size: 80px;
  position: absolute;
  font-family: "Quicksand";
}

blockquote::before {
  content: "\201C";
  left: 0;
  top: 35px;
}

blockquote::after {
  content: "\201D";
  bottom: 0;
  right: 5px;
}

.wrapper-margin {
  margin: 70px 0 60px;
}

.btn-gtc {
  color: #efecdf;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 18px;
  padding: 12px 24px;
  text-align: center;
  border-radius: 50px;
  background: #474fa8;
  border: 1px solid #474fa8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-gtc:hover {
  background: #f52436;
  border-color: #f52436;
  text-decoration: none;
}

.btn-gtc .btn-icon,
.gtc-load-more .btn-gtc::before {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
  background-size: cover;
}

.gtc-post-header-bg {
  background-color: #521f0c;
  background: linear-gradient(236deg, rgba(82, 31, 12, 1) 0%, rgba(169, 51, 8, 1) 49%, rgba(71, 79, 168, 1) 100%);
}

.gtc-page-header-bg {
  background-color: #521f0c;
  background: linear-gradient(325deg, rgba(82, 31, 12, 1) 0%, rgba(169, 51, 8, 1) 59%, rgba(71, 79, 168, 1) 100%);
}

.gtc-homepage-header-bg {
  background-color: #a93308;
  background: linear-gradient(117deg, rgba(71, 79, 168, 1) 0%, rgba(169, 51, 8, 1) 69%, rgba(82, 31, 12, 1) 100%);
}

/* SINGLE EVENTS TEMPLATE */
.wrapper-margin .post-content {
  margin: 75px 0;
}

.wrapper-header {
  min-height: 400px;
  color: #ffffff;
}

.wrapper-header .orbit-thumbnail-bg {
  display: none;
  min-height: 400px;
}

.wrapper-header .post-meta {
  padding: 60px 0;
}

.wrapper-header .post-excerpt {
  padding-top: 30px;
}

/* EXPLAINERS TEMPLATE */
#post-explainers-spotlight .subtitle {
  font-size: 24px;
}

#post-explainers-spotlight .post-excerpt {
  font-style: italic;
}

#post-explainers-spotlight .btn-gtc,
#gtc-single-post .btn-gtc {
  margin-top: 30px;
}

#post-explainers-spotlight .btn-gtc-download {
  margin-right: 20px;
}

#post-explainers-spotlight .wrapper-header .orbit-thumbnail-bg {
  display: block;
}

.related-posts .headline {
  font-size: 30px;
  margin: 0 0 30px;
  padding-top: 60px;
  border-top: 3px dotted #a93308;
}

/* SINGLE POST */
#gtc-single-post.wrapper-margin .post-content {
  margin: 105px auto;
  max-width: 860px;
}

/* ORBIT TEMPLATES */
.articles-three-grid {
  grid-row-gap: 30px;
}

.articles-three-grid .orbit-thumbnail-bg {
  min-height: 240px;
}

.articles-three-grid .post-categories {
  margin: 30px 0;
}

.articles-three-grid .post-categories a {
  color: #a93308;
}

.articles-three-grid .post-title {
  font-size: 30px;
  margin: 0 0 30px;
}

.articles-three-grid .post-title:hover {
  color: #f41124;
}

.articles-three-grid .post-excerpt * {
  display: inline;
}

.articles-three-grid .post-excerpt {
  margin-bottom: 10px;
}

.articles-three-grid .read-more {
  color: #474fa8;
  font-weight: 700;
}

.gtc-load-more {
  margin: 60px 0;
  text-align: center;
}

.gtc-load-more .btn-gtc:hover {
  border-color: #64260f;
  background-color: #64260f;
}

/* SOW */
.gtc-events-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.gtc-events-content .title {
  margin: 0 0 20px;
}

.gtc-events-content .event-convenors {
  margin-top: 30px;
}

.gtc-events-content .event-convenors .logos,
.gtc-explainers-content .logos {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.gtc-events-content .event-convenors .logo-wrapper,
.gtc-explainers-content .logo-wrapper {
  display: inline-block;
  padding: 0px 20px 25px 20px;
}

.gtc-events-content .logos img,
.gtc-explainers-content .logos img {
  width: 100%;
  height: auto;
  max-width: 95px;
  filter: grayscale(100%);
}

.gtc-events-content .logos img:hover,
.gtc-explainers-content .logos img:hover {
  filter: grayscale(0%);
}

.gtc-fluid-video {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}

.gtc-fluid-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gtc-explainers-content {
  margin: 60px auto 0;
}

.gtc-explainers-content .logo-wrapper {
  padding-bottom: 30px;
}

.gtc-explainers-content a,
.gtc-explainers-accordion a {
  color: #474fa8;
}

.gtc-explainers-accordion .sow-accordion-panel-header {
  padding: 30px !important;
  color: #521f0c !important;
  font-size: 30px !important;
  border-bottom: 1px solid #521f0c;
  background-color: transparent !important;
}

.gtc-explainers-accordion .sow-accordion-panel-header:hover,
.gtc-explainers-accordion .sow-accordion-panel-open .sow-accordion-panel-header {
  color: #a93308 !important;
}

.gtc-explainers-accordion .sow-accordion-panel-border {
  color: #000000;
  font-size: 20px;
  border: 1px solid #e5e2d5;
  padding: 30px !important;
}

/* -------------------------- MEDIA QUERIES ------------------------- */
@media(min-width: 768px){
  #single-post-events .post-header .orbit-thumbnail-bg,
  #gtc-single-post .post-header .orbit-thumbnail-bg {
    display: block;
  }

  .btn-gtc {
    font-size: 18px;
    padding: 18px 36px;
  }
}

@media(min-width: 780px){
  .gtc-events-content .col-left {
    width: 60%;
  }

  .gtc-events-content .col-right {
    width: 40%;
  }

  .gtc-explainers-content {
    width: 75%;
  }

  .gtc-explainers-content .logos img {
    max-width: 150px;
  }

}

@media( max-width: 768px ){
  #post-explainers-spotlight .orbit-thumbnail-bg {
    margin-bottom: 30px;
  }

  .gtc-events-content {
    flex-direction: column;
  }
}
